openapi: 3.1.0
info:
  title: ROBOTFORGE API
  description: Robot Data Infrastructure for Physical AI
  version: 0.1.0
  contact:
    name: Mohammed Maheer
    email: maheer@accelerationrobotics.com
servers:
  - url: https://api.robotforge.io/v1
    description: Production
  - url: http://localhost:3000/api
    description: Local development

paths:
  # ── Auth ───────────────────────────────────────────────
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                name: { type: string }
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      responses:
        '200':
          description: New access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/logout:
    delete:
      tags: [Auth]
      summary: Logout and invalidate refresh token
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logged out

  # ── Episodes ───────────────────────────────────────────
  /sessions:
    post:
      tags: [Episodes]
      summary: Start a new collection session
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionCreate'
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /sessions/{id}:
    get:
      tags: [Episodes]
      summary: Get session status
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /sessions/{id}/stop:
    post:
      tags: [Episodes]
      summary: Stop session and ingest episodes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Session stopped

  /sessions/{id}/start:
    post:
      tags: [Episodes]
      summary: Start session recording
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Session started

  /episodes:
    get:
      tags: [Episodes]
      summary: List episodes (paginated)
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: task
          in: query
          schema: { type: string }
        - name: embodiment
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Paginated episode list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Episode'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /episodes/{id}:
    get:
      tags: [Episodes]
      summary: Get episode detail with download URL
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Episode details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Episode'

  # ── Robots (ROS 2 bridge) ─────────────────────────────
  /robots:
    get:
      tags: [Robots]
      summary: List connected robots
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Connected robots
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConnectedRobot'

  /robots/connect:
    post:
      tags: [Robots]
      summary: Connect to a robot via ROS 2 bridge
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RobotConnectRequest'
      responses:
        '200':
          description: Robot connected
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ConnectedRobot'

  /robots/{id}/disconnect:
    post:
      tags: [Robots]
      summary: Disconnect robot
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Robot disconnected

  /robots/{id}/telemetry:
    get:
      tags: [Robots]
      summary: Get latest telemetry snapshot
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Telemetry frame
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RobotTelemetry'

  # ── Fleet Management (multi-robot ops) ──────────────────
  /fleet/status:
    get:
      tags: [Fleet]
      summary: Fleet-wide status (all robots, namespaces, DDS graph)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Fleet status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetStatus'

  /fleet/robots:
    get:
      tags: [Fleet]
      summary: List all fleet robots with ROS 2 node health
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Fleet robots
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FleetRobot'

  /fleet/robots/{id}/namespace:
    post:
      tags: [Fleet]
      summary: Assign robot to ROS 2 namespace
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [namespace]
              properties:
                namespace: { type: string, description: "ROS 2 namespace e.g. /robot/arm1" }
      responses:
        '200':
          description: Namespace assigned

  # ── Recording (rosbag2/MCAP) ───────────────────────────
  /recording/start:
    post:
      tags: [Recording]
      summary: Start rosbag2 MCAP recording for session
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingStartRequest'
      responses:
        '200':
          description: Recording started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingStatus'

  /recording/stop:
    post:
      tags: [Recording]
      summary: Stop recording and return bag metadata
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId]
              properties:
                sessionId: { type: string }
      responses:
        '200':
          description: Recording stopped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingStatus'

  /recording/{id}:
    get:
      tags: [Recording]
      summary: Recording status and MCAP file info
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Recording details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingStatus'

  /recording/{id}/convert:
    post:
      tags: [Recording]
      summary: Convert rosbag2 MCAP to LeRobot v3.0 dataset
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targetFormat: { type: string, enum: [lerobot, hdf5, rlds], default: lerobot }
      responses:
        '200':
          description: Conversion started

  # ── Policy Server (remote inference relay) ──────────────
  /policy/connect:
    post:
      tags: [Policy]
      summary: Connect to remote policy server (gRPC/ZMQ)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyConnectRequest'
      responses:
        '200':
          description: Policy server connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyStatus'

  /policy/disconnect:
    post:
      tags: [Policy]
      summary: Disconnect policy server
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Policy server disconnected

  /policy/infer:
    post:
      tags: [Policy]
      summary: Send observation and receive action from policy server
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [robotId]
              properties:
                robotId: { type: string }
                observation:
                  type: object
                  description: "Camera frames + joint states packaged as observation"
      responses:
        '200':
          description: Action received
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    type: array
                    items: { type: number }
                  latencyMs: { type: number }

  /policy/status:
    get:
      tags: [Policy]
      summary: Policy server connection health
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Policy server status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyStatus'

  # ── Datasets (Marketplace) ─────────────────────────────
  /datasets:
    get:
      tags: [Marketplace]
      summary: Search and list datasets
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: task
          in: query
          schema: { type: string }
        - name: embodiment
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Dataset list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Marketplace]
      summary: Create dataset listing
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetCreate'
      responses:
        '201':
          description: Dataset created

  /datasets/{id}:
    get:
      tags: [Marketplace]
      summary: Get dataset detail
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'

  /datasets/{id}/purchase:
    post:
      tags: [Marketplace]
      summary: Purchase dataset access
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Purchase successful

  # ── Streaming (WebRTC) ─────────────────────────────────
  /streams/rooms:
    post:
      tags: [Streaming]
      summary: Create LiveKit room
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                maxParticipants: { type: integer, default: 10 }
      responses:
        '201':
          description: Room created

  /streams/token:
    get:
      tags: [Streaming]
      summary: Get LiveKit participant token
      security:
        - bearerAuth: []
      parameters:
        - name: room
          in: query
          required: true
          schema: { type: string }
        - name: identity
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Token generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            accessToken: { type: string }
            refreshToken: { type: string }
            expiresIn: { type: integer }
            user:
              $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id: { type: string }
        email: { type: string, format: email }
        name: { type: string }
        role: { type: string, enum: [operator, developer, enterprise, admin] }
        tier: { type: string, enum: [free, starter, professional, enterprise] }
        createdAt: { type: string, format: date-time }

    Session:
      type: object
      properties:
        id: { type: string }
        task: { type: string }
        mode: { type: string, enum: [manual, ai_assisted] }
        robotIds: { type: array, items: { type: string } }
        status: { type: string, enum: [idle, recording, paused, processing] }
        episodeCount: { type: integer }
        startedAt: { type: string, format: date-time }
        targetEpisodes: { type: integer }

    SessionCreate:
      type: object
      required: [task, mode, robotIds]
      properties:
        task: { type: string }
        mode: { type: string, enum: [manual, ai_assisted] }
        robotIds: { type: array, items: { type: string } }
        targetEpisodes: { type: integer }

    Episode:
      type: object
      properties:
        id: { type: string }
        sessionId: { type: string }
        robotId: { type: string }
        embodiment: { type: string }
        task: { type: string }
        durationMs: { type: integer }
        frameCount: { type: integer }
        qualityScore: { type: number }
        status: { type: string, enum: [recording, processing, packaged, listed, failed] }
        sensorModalities: { type: array, items: { type: string } }
        createdAt: { type: string, format: date-time }

    RobotConnectRequest:
      type: object
      required: [name, embodiment, connectionType, ipAddress]
      properties:
        name: { type: string }
        embodiment: { type: string }
        connectionType: { type: string, enum: [ros2, grpc, websocket, usb] }
        ipAddress: { type: string, format: ipv4 }
        port: { type: integer }

    ConnectedRobot:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        embodiment: { type: string }
        connectionType: { type: string }
        ipAddress: { type: string }
        status: { type: string, enum: [connected, disconnected, error, recording] }
        batteryLevel: { type: integer }
        cameras:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
              fps: { type: integer }
              resolution:
                type: object
                properties:
                  width: { type: integer }
                  height: { type: integer }

    RobotTelemetry:
      type: object
      properties:
        robotId: { type: string }
        timestamp: { type: integer, description: "Unix ms" }
        jointPositions:
          type: array
          items: { type: number }
        jointVelocities:
          type: array
          items: { type: number }
        jointTorques:
          type: array
          items: { type: number }
        endEffectorPose:
          type: object
          properties:
            x: { type: number }
            y: { type: number }
            z: { type: number }
            rx: { type: number }
            ry: { type: number }
            rz: { type: number }
        gripperPosition: { type: number, description: "0–1" }

    Dataset:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        ownerId: { type: string }
        task: { type: string }
        embodiments: { type: array, items: { type: string } }
        episodeCount: { type: integer }
        totalDurationHours: { type: number }
        sizeGb: { type: number }
        qualityScore: { type: number }
        format: { type: string }
        pricingTier: { type: string }
        pricePerEpisode: { type: number }
        tags: { type: array, items: { type: string } }
        downloads: { type: integer }
        rating: { type: number }
        createdAt: { type: string, format: date-time }

    DatasetCreate:
      type: object
      required: [name, description, task, embodiments, format]
      properties:
        name: { type: string }
        description: { type: string }
        task: { type: string }
        embodiments: { type: array, items: { type: string } }
        format: { type: string }
        pricingTier: { type: string }
        pricePerEpisode: { type: number }
        tags: { type: array, items: { type: string } }

    Pagination:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total: { type: integer }
        totalPages: { type: integer }

    # ── Fleet Schemas ──────────────────────────────────────
    FleetStatus:
      type: object
      properties:
        totalRobots: { type: integer }
        activeRobots: { type: integer }
        namespaces:
          type: array
          items: { type: string }
        ddsGraphHealthy: { type: boolean }
        robots:
          type: array
          items:
            $ref: '#/components/schemas/FleetRobot'

    FleetRobot:
      type: object
      properties:
        robotId: { type: string }
        name: { type: string }
        namespace: { type: string, description: "ROS 2 namespace e.g. /robot/arm1" }
        embodiment: { type: string }
        connectionType: { type: string, enum: [ros2, grpc, websocket, usb] }
        status: { type: string, enum: [connected, disconnected, error, recording] }
        ros2Status:
          type: object
          properties:
            nodeActive: { type: boolean }
            controllerState: { type: string, enum: [inactive, active, unconfigured] }
            ddsConnected: { type: boolean }
            topicHz:
              type: object
              additionalProperties: { type: number }
            lastHeartbeat: { type: string, format: date-time }

    # ── Recording Schemas ──────────────────────────────────
    RecordingStartRequest:
      type: object
      required: [sessionId]
      properties:
        sessionId: { type: string }
        topicFilters:
          type: array
          items: { type: string }
          description: "ROS 2 topic patterns to record (default: all)"
        storageFormat: { type: string, enum: [mcap, sqlite3], default: mcap }

    RecordingStatus:
      type: object
      properties:
        id: { type: string }
        sessionId: { type: string }
        status: { type: string, enum: [recording, stopped, converting, completed, error] }
        format: { type: string, enum: [mcap, sqlite3] }
        filePath: { type: string }
        fileSizeMb: { type: number }
        durationSeconds: { type: number }
        topicsRecorded:
          type: array
          items: { type: string }
        messageCount: { type: integer }
        startedAt: { type: string, format: date-time }
        stoppedAt: { type: string, format: date-time }

    # ── Policy Server Schemas ──────────────────────────────
    PolicyConnectRequest:
      type: object
      required: [address, protocol, modelName]
      properties:
        address: { type: string, description: "Policy server address (host:port)" }
        protocol: { type: string, enum: [grpc, zmq] }
        modelName: { type: string, description: "Model to load (e.g. act, smolvla, pi0)" }
        robotId: { type: string, description: "Robot to bind policy output to" }

    PolicyStatus:
      type: object
      properties:
        connected: { type: boolean }
        address: { type: string }
        protocol: { type: string, enum: [grpc, zmq] }
        modelName: { type: string }
        boundRobotId: { type: string }
        avgLatencyMs: { type: number }
        inferenceCount: { type: integer }
        lastInferenceAt: { type: string, format: date-time }
