openapi: 3.1.0
info:
  title: ROBOTFORGE API
  description: Robot Data Infrastructure for Physical AI
  version: 0.1.0
  contact:
    name: Mohammed Maheer
    email: maheer@accelerationrobotics.com
servers:
  - url: https://api.robotforge.io/v1
    description: Production
  - url: http://localhost:3000/api
    description: Local development

paths:
  # ── Auth ───────────────────────────────────────────────
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                name: { type: string }
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      responses:
        '200':
          description: New access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/logout:
    delete:
      tags: [Auth]
      summary: Logout and invalidate refresh token
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logged out

  # ── Episodes ───────────────────────────────────────────
  /episodes/sessions:
    post:
      tags: [Episodes]
      summary: Start a new collection session
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionCreate'
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /episodes/sessions/{id}:
    get:
      tags: [Episodes]
      summary: Get session status
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /episodes/sessions/{id}/stop:
    post:
      tags: [Episodes]
      summary: Stop session and ingest episodes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Session stopped

  /episodes:
    get:
      tags: [Episodes]
      summary: List episodes (paginated)
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: task
          in: query
          schema: { type: string }
        - name: embodiment
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Paginated episode list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Episode'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /episodes/{id}:
    get:
      tags: [Episodes]
      summary: Get episode detail with download URL
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Episode details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Episode'

  # ── Datasets (Marketplace) ─────────────────────────────
  /datasets:
    get:
      tags: [Marketplace]
      summary: Search and list datasets
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: task
          in: query
          schema: { type: string }
        - name: embodiment
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Dataset list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Marketplace]
      summary: Create dataset listing
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetCreate'
      responses:
        '201':
          description: Dataset created

  /datasets/{id}:
    get:
      tags: [Marketplace]
      summary: Get dataset detail
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'

  /datasets/{id}/purchase:
    post:
      tags: [Marketplace]
      summary: Purchase dataset access
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Purchase successful

  # ── Streaming (WebRTC) ─────────────────────────────────
  /streams/rooms:
    post:
      tags: [Streaming]
      summary: Create LiveKit room
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                maxParticipants: { type: integer, default: 10 }
      responses:
        '201':
          description: Room created

  /streams/token:
    get:
      tags: [Streaming]
      summary: Get LiveKit participant token
      security:
        - bearerAuth: []
      parameters:
        - name: room
          in: query
          required: true
          schema: { type: string }
        - name: identity
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Token generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            accessToken: { type: string }
            refreshToken: { type: string }
            expiresIn: { type: integer }
            user:
              $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id: { type: string }
        email: { type: string, format: email }
        name: { type: string }
        role: { type: string, enum: [operator, developer, enterprise, admin] }
        tier: { type: string, enum: [free, starter, professional, enterprise] }
        createdAt: { type: string, format: date-time }

    Session:
      type: object
      properties:
        id: { type: string }
        task: { type: string }
        mode: { type: string, enum: [manual, ai_assisted, autonomous] }
        robotIds: { type: array, items: { type: string } }
        status: { type: string }
        episodeCount: { type: integer }
        startedAt: { type: string, format: date-time }

    SessionCreate:
      type: object
      required: [task, mode, robotIds]
      properties:
        task: { type: string }
        mode: { type: string, enum: [manual, ai_assisted, autonomous] }
        robotIds: { type: array, items: { type: string } }
        targetEpisodes: { type: integer }

    Episode:
      type: object
      properties:
        id: { type: string }
        sessionId: { type: string }
        robotId: { type: string }
        embodiment: { type: string }
        task: { type: string }
        durationMs: { type: integer }
        frameCount: { type: integer }
        qualityScore: { type: number }
        status: { type: string, enum: [recording, processing, packaged, listed, failed] }
        sensorModalities: { type: array, items: { type: string } }
        createdAt: { type: string, format: date-time }

    Dataset:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        ownerId: { type: string }
        task: { type: string }
        embodiments: { type: array, items: { type: string } }
        episodeCount: { type: integer }
        totalDurationHours: { type: number }
        sizeGb: { type: number }
        qualityScore: { type: number }
        format: { type: string }
        pricingTier: { type: string }
        pricePerEpisode: { type: number }
        tags: { type: array, items: { type: string } }
        downloads: { type: integer }
        rating: { type: number }
        createdAt: { type: string, format: date-time }

    DatasetCreate:
      type: object
      required: [name, description, task, embodiments, format]
      properties:
        name: { type: string }
        description: { type: string }
        task: { type: string }
        embodiments: { type: array, items: { type: string } }
        format: { type: string }
        pricingTier: { type: string }
        pricePerEpisode: { type: number }
        tags: { type: array, items: { type: string } }

    Pagination:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total: { type: integer }
        totalPages: { type: integer }
